/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); /* Fuente moderna: Roboto */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: rgb(15, 15, 15);
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  display: flex; /* Usa flexbox en el body */
  justify-content: center; /* Centra todo el contenido horizontalmente */
  align-items: center; /* Centra todo el contenido verticalmente */
  height: 100vh; /* Asegura que ocupe todo el alto de la ventana */
  margin: 0; /* Elimina los márgenes del body */
  flex-direction: column; /* Alinea todo de arriba a abajo */
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra todo dentro del contenedor */
}

h2 {
  font-size: 35px;
  margin-bottom: 30px;
  text-align: center; /* Alinea el título al centro */
}

.fila {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
}

.select-container, .input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

input, select {
  width: 250px; /* Aumenta el ancho para que las monedas no se corten */
  padding: 10px;
  font-size: 18px;
  background-color: transparent;
  color: white;
  border: 2px solid #fff;
  text-align: right;
}

input[type="number"] {
  background-color: transparent;
  color: white;
  border: 2px solid #fff;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}

select {
  background-color: rgb(15, 15, 15);
  color: white;
  border: 2px solid #fff;
  height: 40px;
  margin: 0 auto;
  display: block;
  width: 250px; /* Aumenta el ancho del select */
  font-size: 18px;
  padding: 8px;
}

select option {
  background-color: rgb(15, 15, 15);
  color: white;
  width: 250px; /* Asegura que el menú desplegable tenga el mismo ancho */
}

select:focus {
  outline: none;
}

.moneda-container {
  display: flex;
  gap: 20px;
}

.moneda-container div {
  display: flex;
  align-items: center;
}
